{% extends 'base.html' %}

{% block meta %}
    <title>{{ artist_data.name|safe }} - kpop-albums</title>
{% endblock meta %}
    
{% block content %}
    <h1>{{ artist_data.name|escapejs }}</h1>
    <a href="{% url 'main:show_main' %}" class="button-link">
        <button class="back-to-main">
            Back to Main
        </button>
    </a>

    <hr style="margin-bottom: 30px;"> <!-- Add margin-bottom to the <hr> element -->

    <!-- Image Container -->
    <div style="position: relative;">
        <img id="artistImage" src="{{ artist_data.artist_pic.url }}" alt="{{ artist_data.name|escapejs }}" style="max-width: 500px; max-height: 500px; border: 1px solid #ccc;">
    </div>

    <br>
    <hr>

    <p><b>Company:</b> {{ artist_data.company|safe }}</p>
    <p><b>Debut Date:</b> {{ artist_data.debut_date  }}</p>

    {% if artist_data.disband_date %}
    <p><b>Disband Date:</b> {{ artist_data.disband_date }}</p>
    
    <!-- Display former members only for disbanded groups -->
    <p style="margin-bottom: 5px;"><b>Former Member(s):</b></p>
    <div style="display: flex;">
        <ul style="list-style-type: none; flex: 1; padding: 0; margin: 0;">
            {% for former_member in artist_data.former_members %}
                <li style="margin-bottom: 5px; margin-left: 20px;">- {{ former_member|safe }}</li>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    </ul><ul style="list-style-type: none; flex: 1; padding: 0; margin: 0;">
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% else %}
    <!-- Display both members and former members for normal (not disbanded) groups -->
    <p style="margin-bottom: 5px;"><b>Members:</b></p>
    <div style="display: flex;">
        <ul style="list-style-type: none; flex: 1; padding: 0; margin: 0;">
            {% for member in artist_data.members %}
                <li style="margin-bottom: 5px; margin-left: 20px;">- {{ member|safe }}</li>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    </ul><ul style="list-style-type: none; flex: 1; padding: 0; margin: 0;">
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    
    <!-- Display former members for normal (not disbanded) groups -->
    {% if artist_data.former_members %}
        <p style="margin-bottom: 5px;"><b>Former Member(s):</b></p>
        <div style="display: flex;">
            <ul style="list-style-type: none; flex: 1; padding: 0; margin: 0;">
                {% for former_member in artist_data.former_members%}
                    <li style="margin-bottom: 5px; margin-left: 20px;">- {{ former_member|safe }}</li>
                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                        </ul><ul style="list-style-type: none; flex: 1; padding: 0; margin: 0;">
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endif %}


    {% if artist_data.sub_units %}
        <p style="margin-bottom: 5px;"><b>Sub-Unit(s):</b></p>
        <div style="display: flex;">
            <ul style="list-style-type: none; flex: 1; padding: 0; margin: 0;">
                {% for sub_unit in artist_data.sub_units %}
                    <li style="margin-bottom: 5px; margin-left: 20px;">- {{ sub_unit|safe }}</li>
                    {% if forloop.counter|divisibleby:4 and not forloop.last %}
                        </ul><ul style="list-style-type: none; flex: 1; padding: 0; margin: 0;">
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if artist_data.supporters %}
        <p style="margin-bottom: 5px;"><b>Fan Club Name(s):</b> {{ artist_data.supporters|join:", "|safe}}</p>
    {% endif %}

    <hr>

    <p><b>About:</b></p>
    <p>{{ artist_data.description }}</p>
    <hr>

    <p><b><a href="{% url 'main:full_list' %}" style = "display: inline-block; text-decoration: none; color: inherit;">Albums:</a></b></p>
    <div class="artist-list">
        {% if artist_albums %}
            <ul style="list-style: none; padding: 0; margin: 0;">
                {% for album in artist_albums %}
                    <li style="display: flex; align-items: center; margin-left: 25px; margin-right: 10px; margin-bottom: 20px;"> <!-- Center-align the album title beside the album cover -->
                        <a href="{% url 'main:album_detail' artist_name=album.artist.name album_name=album.name %}">
                            <img src="{{ album.album_cover.url }}" alt="{{ album.name }}" style="max-width: 100px; max-height: 100px; border: 1px solid #ccc; margin-right: 10px;">
                        </a>
                        <table style="border-collapse: collapse;">
                            <tr>
                                <td style="padding-right: 10px;">
                                    <a href="{% url 'main:album_detail' artist_name=album.artist.name album_name=album.name %}">
                                        <b>{{ album.name|safe }}</b>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center;">
                                    <!-- Add a delete link that triggers the deletion when clicked -->
                                    <a href="{% url 'main:delete_album' artist_name=album.artist.name album_name=album.name %}" class="delete-link">
                                        <button class="delete-button" style="display: block; width: 100px; margin-top: 5px;">
                                            Delete Album
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No albums found for this artist.</p>
        {% endif %}
    </div>
    <a href="{% url 'main:add_album' artist_name=artist_data.name %}" class="button-link">
        <button class="add-button">
            Add New Album
        </button>
    </a>    
    <hr>

    <a href="{% url 'main:show_main' %}" class="button-link">
        <button class="back-to-main">
            Back to Main
        </button>
    </a>
{% endblock content %}