{% extends 'base.html' %}

{% block meta %}
    <title>Register - kpop-albums</title>
    <style>
        h2.page-header {
            margin: 0;
            padding: 0;
        }
        .login form {
            width: 350px; /* Adjust the width of the form as needed */
            margin: 0 auto; /* Center the form horizontally */
        }
        form table tr {
            vertical-align: top; /* Align form rows to the top */
            text-align: left;
        }
        form table td label {
            text-align: right;
            display: inline-block;
            width: 200px; /* Adjust the width as needed for the indentation */
        }
        table tr td {
            padding-bottom: 15px;
            padding-left: 20px;
        }
        .register-button {
            text-align: center; /* Center-align the button */
            padding-right: 40px;
            padding-bottom: 50px;
        }
        .register-button input[type="submit"] {
            width: 90px;
        }
    </style>
{% endblock meta %}

{% block content %}
<div class="login">
    <h1>Register</h1>
    <form method="POST" style="margin: 20px; ">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
            </tr>
        </table>
        <div class="register-button">
            <input type="submit" name="submit" value="Register" />
        </div>
    </form>

</div>
{% endblock content %}
